h1 {
  font-family: 'Catamaran', sans-serif;
  color: #000F27;
  font-size: 150px;
  text-align: center;
  margin-top: 270px;
  font-weight: 900;
}

h2{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
}

body{
  background-image: url("https://s-media-cache-ak0.pinimg.com/564x/18/29/c3/1829c3ee8226a88ee07c78e72a384d46.jpg");
  background-repeat: repeat;
  cursor: url('http://www.cursor.cc/cursor/563/51/cursor.png'), default;
}

#BMO {
  height: 100%;
  position: absolute;
}

#track-area{
  box-sizing: border-box;
  background: #25AD9F;
  border: 4px solid #000000;
  width: 1185px;
  height: 750px;
  margin-top: -4px;
  position: relative;
  margin-left: 500px;

}

#drum-body{
  box-sizing: border-box;
  background: #25AD9F;
  border: 4px solid #000000;
  width: 1684px;
  height: 750px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

#tempodisplay {
  float: left;
  position: absolute;
  margin-top: 644px;
  margin-left: 66px;
}

#tempobuttondn {
  float: left;
  position: absolute;
  margin-top: 555.25px;
  margin-left: 94.73px;
}

#tempobuttondn:active {
  height: 65px;
  margin-top: 560.25px;
  margin-left: 94.73px;
}

#tempobuttonup {
  float: left;
  position: absolute;
  margin-top: 555.25px;
  margin-left: 168.2px;
}

#tempobuttonup:active {
  height: 65px;
  margin-top: 560.25px;
  margin-left: 168.2px;
}

#toggle {
  float: left;
  position: absolute;
  margin-top: 488.56px;
  margin-left: 306.44px;
  background-color: #25AD9F;
  border: none;
  outline: none;
}

#toggle:active {
  width: 65px;
  margin-top: 494.56px;
  margin-left: 310.44px;
}



#stopbutton:hover, #tempobuttonup:hover, #tempobuttondn:hover, #toggle:hover {
  opacity: 0.6;
}



#stopbutton {
  float: left;
  position: absolute;
  margin-top: 611px;
  margin-left: 336px;
}

#round-bar {
    float: left;
    position: absolute;
    margin-top: 374px;
    margin-left: 76px;
}

#little-circle {
    float: left;
    position: absolute;
    margin-top: 372px;
    margin-left: 367px;
}

#little-green-circle {
    float: left;
    position: absolute;
    margin-top: 554px;
    margin-left: 430px;
}

#stopbutton:active {
  width: 90px;
  margin-top: 620px;
  margin-left: 340px;
}

#instrument1 {
  margin-left: -19px;
  margin-top: -4px;
}

#instrument2 {
  margin-left: -19px;
  margin-top: 66px;
}

#instrument3 {
  margin-left: -19px;
  margin-top: 66px;
}

#instrument4 {
  margin-left: -19px;
  margin-top: 66px;
}

#instrument5, #instrument6, #instrument7, #instrument8 {
  margin-left: -19px;
  margin-top: 66px;
}

#bpm {
  float: left;
  font-size: 18px;
  position: absolute;
  margin-top: 663px;
  margin-left: 93px;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.row1 {
  margin-top: -70px;
}

.row2 {
  margin-top: -70px;
}

.row3 {
  margin-top: -70px;
}

.row4 {
  margin-top: -70px;
}

.row5, .row6, .row7, .row8 {
  margin-top: -70px;
}

.col1 {
  margin-left: 106px;
  position: absolute;
  background-color: #B9DECA;
}

.col2 {
  margin-left: 172px;
  position: absolute;
  background-color: #B9DECA;
}

.col3 {
  margin-left: 238px;
  position: absolute;
  background-color: #B9DECA;
}

.col4 {
  margin-left: 304px;
  position: absolute;
  background-color: #B9DECA;
}

.col5 {
  margin-left: 370px;
  position: absolute;
  background-color: white;
}

.col6 {
  margin-left: 436px;
  position: absolute;
  background-color: white;
}

.col7 {
  margin-left: 502px;
  position: absolute;
  background-color: white;
}

.col8 {
  margin-left: 568px;
  position: absolute;
  background-color: white;
}

.col9 {
  margin-left: 634px;
  position: absolute;
  background-color: #B9DECA;
}

.col10 {
  margin-left: 700px;
  position: absolute;
  background-color: #B9DECA;
}

.col11 {
  margin-left: 766px;
  position: absolute;
  background-color: #B9DECA;
}

.col12 {
  margin-left: 832px;
  position: absolute;
  background-color: #B9DECA;
}

.col13 {
  margin-left: 898px;
  position: absolute;
  background-color: white;
}

.col14 {
  margin-left: 964px;
  position: absolute;
  background-color: white;
}

.col15 {
  margin-left: 1030px;
  position: absolute;
  background-color: white;
}

.col16 {
  margin-left: 1096px;
  position: absolute;
  background-color: white;
}

.col-beat{
  background-color: #44c1df;
  border-right: 6px black solid !important;
  border-left: 6px black solid !important;
}

.step-unselected {
  width: 70px;
  height: 70px;
  // background-color: #B9DECA;
  border: solid #000;
  border-width: 4px;
}

.step-selected {
  width: 70px;
  height: 70px;
  background-color: #FDD14E;
  border: solid #000;
  border-width: 4px;
}

.instrument-name{
  float:left;
  margin-top: -70px;
  position: absolute;
  width: 129px;
  height: 70px;
  background-color: #03467C;
  border: solid #000;
  border-width: 4px;
  margin-left: -19px;
}
